

div.data-view {
    
    padding-top: 4rem;
    overflow-y: auto;

    & > header {
        display: flex;
        flex-direction: row;
        

        & > button {
            margin-right: 0.5rem;
        }

    }
}