@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

body {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  background: url('./views/starfield.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}


.App > header {
  height: 4rem;
  text-align: center;
  font-size: 2rem;
}


.App > img.logo {
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;

  border-top-left-radius: 40px 40px;

  box-shadow: 0 0 1rem 0.25rem rgba(0,0,0,0.2);
  z-index: 0;
}